ipython
jupyterlab
matplotlib
notebook
numpy
pandas
pytest
pytest-cov
python-dotenv
pytest-asyncio
scikit-learn
ruff
prefect
omegaconf
mlflow
griffe
kedro
kedro-datasets

# services
fastapi[standard]
uvicorn[standard]
pydantic
streamlit
requests
-e .